In [37]:
meta_info = r'C:\Users\25726\Desktop\submitB\train_val_list_new.csv'
meta_csv_new = pd.read_csv(meta_info, names=['phase','SAR', 'opt_clear', 'opt_cloudy','img_name', 'ssim', 'rank'])
ssim_val = meta_csv_new.loc[meta_csv_new.phase == 2, 'ssim']
rank_val = meta_csv_new.loc[meta_csv_new.phase == 2, 'rank']

In [38]:
import pandas as pd

# meta_info = 'D:/Dataset/Rsipac/train_256/train_val_list.csv'
meta_info = r'C:\Users\25726\Desktop\submitB\train_val_list.csv'
meta_csv = pd.read_csv(meta_info, names=['opt_clear', 'opt_cloudy','img_name', 'ssim', 'rank','phase','SAR'])
meta_csv['phase'] = meta_csv2['phase']
meta_csv['SAR'] = meta_csv2['SAR']
meta_csv.loc[meta_csv.phase == 2, 'ssim'] = ssim_val
meta_csv.loc[meta_csv.phase == 2, 'rank'] = rank_val
meta_csv

       opt_clear  opt_cloudy         img_name      ssim     rank  phase  SAR
0      opt_clear  opt_cloudy   S2_01_10_0.png  0.842313   6043.0      1  SAR
1      opt_clear  opt_cloudy   S2_01_10_1.png  0.867158   4677.0      1  SAR
2      opt_clear  opt_cloudy   S2_01_10_2.png  0.877751   4081.0      1  SAR
3      opt_clear  opt_cloudy   S2_01_10_3.png  0.905074   2507.0      1  SAR
4      opt_clear  opt_cloudy  S2_01_100_0.png  0.657763  12748.0      1  SAR
...          ...         ...              ...       ...      ...    ...  ...
21679  opt_clear  opt_cloudy  S2_14_988_3.png  0.908494    385.0      2  SAR
21680  opt_clear  opt_cloudy  S2_14_996_0.png  0.895978   3018.0      1  SAR
21681  opt_clear  opt_cloudy  S2_14_996_1.png  0.839511   6176.0      1  SAR
21682  opt_clear  opt_cloudy  S2_14_996_2.png  0.940265    717.0      1  SAR
21683  opt_clear  opt_cloudy  S2_14_996_3.png  0.927909   1316.0      1  SAR

[21684 rows x 7 columns]

In [43]:
meta_csv['id'] = meta_csv['img_name'].apply(lambda x:int(x.split('_')[1]))
meta_csv.id.value_counts()

2     4528
8     2508
12    2496
3     1936
14    1908
9     1888
4     1800
1     1716
7     1048
5      996
10     468
11     204
6      188
Name: id, dtype: int64

In [49]:
meta_val.id.value_counts()

2     912
8     516
12    452
3     408
14    384
9     368
4     348
1     332
7     228
5     212
10     92
11     48
6      40
Name: id, dtype: int64

In [85]:
meta_csv['rank'] = meta_csv['rank'].astype(int)
meta_csv

       opt_clear  opt_cloudy         img_name      ssim   rank  phase  SAR  id
0      opt_clear  opt_cloudy   S2_01_10_0.png  0.842313   6043      1  SAR   1
1      opt_clear  opt_cloudy   S2_01_10_1.png  0.867158   4677      1  SAR   1
2      opt_clear  opt_cloudy   S2_01_10_2.png  0.877751   4081      1  SAR   1
3      opt_clear  opt_cloudy   S2_01_10_3.png  0.905074   2507      1  SAR   1
4      opt_clear  opt_cloudy  S2_01_100_0.png  0.657763  12748      1  SAR   1
...          ...         ...              ...       ...    ...    ...  ...  ..
21679  opt_clear  opt_cloudy  S2_14_988_3.png  0.908494    385      2  SAR  14
21680  opt_clear  opt_cloudy  S2_14_996_0.png  0.895978   3018      1  SAR  14
21681  opt_clear  opt_cloudy  S2_14_996_1.png  0.839511   6176      1  SAR  14
21682  opt_clear  opt_cloudy  S2_14_996_2.png  0.940265    717      1  SAR  14
21683  opt_clear  opt_cloudy  S2_14_996_3.png  0.927909   1316      1  SAR  14

[21684 rows x 8 columns]

In [58]:
meta_train = meta_csv.loc[meta_csv.phase == 1,:]
meta_val = meta_csv.loc[meta_csv.phase == 2,:]
print(len(meta_train))
print(len(meta_val))

17344
4340

In [ ]:
meta_train['rank'] = meta_train['rank'].astype(int)

In [33]:
meta_train[meta_train['ssim']>0.5].sort_values(by='ssim')

       phase  SAR  opt_clear  opt_cloudy         img_name      ssim   rank  id
7193       1  SAR  opt_clear  opt_cloudy  S2_03_443_1.png  0.500649  14685   3
8011       1  SAR  opt_clear  opt_cloudy  S2_03_714_3.png  0.500686  14684   3
8573       1  SAR  opt_clear  opt_cloudy  S2_04_286_1.png  0.500799  14683   4
10480      1  SAR  opt_clear  opt_cloudy  S2_05_714_0.png  0.500863  14682   5
6984       1  SAR  opt_clear  opt_cloudy  S2_03_374_0.png  0.500993  14681   3
...      ...  ...        ...         ...              ...       ...    ...  ..
8243       1  SAR  opt_clear  opt_cloudy  S2_04_125_3.png  0.982618      5   4
9981       1  SAR  opt_clear  opt_cloudy  S2_05_514_1.png  0.992101      4   5
9982       1  SAR  opt_clear  opt_cloudy  S2_05_514_2.png  0.994483      3   5
9983       1  SAR  opt_clear  opt_cloudy  S2_05_514_3.png  0.996915      2   5
9980       1  SAR  opt_clear  opt_cloudy  S2_05_514_0.png  0.996988      1   5

[14685 rows x 8 columns]

In [6]:
meta_train['rank'] = meta_train['rank'].astype(int)
meta_train.loc[meta_train['rank']==int(17344*0.85),:]

c:\Users\25726\.conda\envs\pytorch\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      phase  SAR  opt_clear  opt_cloudy         img_name      ssim   rank
7827      1  SAR  opt_clear  opt_cloudy  S2_03_647_3.png  0.490988  14742

In [46]:
meta_train.groupby("id").ssim.mean()

id
1     0.863750
2     0.857999
3     0.679620
4     0.714031
5     0.662340
6     0.863486
7     0.812584
8     0.664740
9     0.800808
10    0.813551
11    0.716196
12    0.575094
14    0.552235
Name: ssim, dtype: float64

In [25]:
meta_val.groupby("id").ssim.mean()

id
1     0.831290
2     0.829255
3     0.591252
4     0.635870
5     0.524659
6     0.811053
7     0.704044
8     0.540576
9     0.755385
10    0.768105
11    0.613204
12    0.509518
14    0.461051
Name: ssim, dtype: float64

In [15]:
import pandas as pd
meta_info = r'C:\Users\25726\Desktop\submitB\train_val_list_new.csv'
meta_csv_new = pd.read_csv(meta_info, names=['phase','SAR', 'opt_clear', 'opt_cloudy','img_name', 'ssim', 'rank'])
meta_csv_new['rank'] = meta_csv_new['rank'].astype(int)
meta_csv_new

       phase  SAR  opt_clear  opt_cloudy         img_name      ssim   rank
0          1  SAR  opt_clear  opt_cloudy   S2_01_10_0.png  0.842313   6043
1          1  SAR  opt_clear  opt_cloudy   S2_01_10_1.png  0.867158   4677
2          1  SAR  opt_clear  opt_cloudy   S2_01_10_2.png  0.877751   4081
3          1  SAR  opt_clear  opt_cloudy   S2_01_10_3.png  0.905074   2507
4          1  SAR  opt_clear  opt_cloudy  S2_01_100_0.png  0.657763  12748
...      ...  ...        ...         ...              ...       ...    ...
21679      2  SAR  opt_clear  opt_cloudy  S2_14_988_3.png  0.908494    385
21680      1  SAR  opt_clear  opt_cloudy  S2_14_996_0.png  0.895978   3018
21681      1  SAR  opt_clear  opt_cloudy  S2_14_996_1.png  0.839511   6176
21682      1  SAR  opt_clear  opt_cloudy  S2_14_996_2.png  0.940265    717
21683      1  SAR  opt_clear  opt_cloudy  S2_14_996_3.png  0.927909   1316

[21684 rows x 7 columns]

In [18]:
meta_csv_new[meta_csv_new.ssim>0.9]

       phase  SAR  opt_clear  opt_cloudy         img_name      ssim  rank
3          1  SAR  opt_clear  opt_cloudy   S2_01_10_3.png  0.905074  2507
23         1  SAR  opt_clear  opt_cloudy  S2_01_104_3.png  0.919058  1752
41         1  SAR  opt_clear  opt_cloudy  S2_01_109_1.png  0.940928   685
52         1  SAR  opt_clear  opt_cloudy  S2_01_114_0.png  0.922096  1582
66         1  SAR  opt_clear  opt_cloudy  S2_01_119_2.png  0.900385  2756
...      ...  ...        ...         ...              ...       ...   ...
21633      1  SAR  opt_clear  opt_cloudy  S2_14_964_1.png  0.914276  1987
21647      1  SAR  opt_clear  opt_cloudy  S2_14_970_3.png  0.919981  1691
21679      2  SAR  opt_clear  opt_cloudy  S2_14_988_3.png  0.908494   385
21682      1  SAR  opt_clear  opt_cloudy  S2_14_996_2.png  0.940265   717
21683      1  SAR  opt_clear  opt_cloudy  S2_14_996_3.png  0.927909  1316

[3271 rows x 7 columns]

In [22]:
meta_val[meta_val.ssim>0.7]

       phase  SAR  opt_clear  opt_cloudy         img_name      ssim  rank
16         2  SAR  opt_clear  opt_cloudy  S2_01_103_0.png  0.830085  1310
19         2  SAR  opt_clear  opt_cloudy  S2_01_103_3.png  0.789871  1747
36         2  SAR  opt_clear  opt_cloudy  S2_01_108_0.png  0.723888  2325
37         2  SAR  opt_clear  opt_cloudy  S2_01_108_1.png  0.738169  2234
38         2  SAR  opt_clear  opt_cloudy  S2_01_108_2.png  0.790160  1744
...      ...  ...        ...         ...              ...       ...   ...
21671      2  SAR  opt_clear  opt_cloudy  S2_14_986_3.png  0.783959  1811
21676      2  SAR  opt_clear  opt_cloudy  S2_14_988_0.png  0.838503  1201
21677      2  SAR  opt_clear  opt_cloudy  S2_14_988_1.png  0.860502   953
21678      2  SAR  opt_clear  opt_cloudy  S2_14_988_2.png  0.889791   593
21679      2  SAR  opt_clear  opt_cloudy  S2_14_988_3.png  0.908494   385

[2490 rows x 7 columns]

In [19]:
meta_train = meta_csv_new.loc[meta_csv_new.phase == 1,:]
meta_val = meta_csv_new.loc[meta_csv_new.phase == 2,:]
print(len(meta_train))
print(len(meta_val))

17344
4340

In [23]:
meta_train['rank'] = meta_train['rank'].astype(int)
meta_train.loc[meta_train['rank']==int(17344*0.75),:]

c:\Users\25726\.conda\envs\pytorch\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

       phase  SAR  opt_clear  opt_cloudy        img_name      ssim   rank
11040      1  SAR  opt_clear  opt_cloudy  S2_06_34_0.png  0.645161  13008

In [22]:
meta_csv_new['id'] = meta_csv_new['img_name'].apply(lambda x:int(x.split('_')[1]))
meta_csv_new.id.value_counts()

2     4528
8     2508
12    2496
3     1936
14    1908
9     1888
4     1800
1     1716
7     1048
5      996
10     468
11     204
6      188
Name: id, dtype: int64

In [11]:
meta_csv_new.to_csv('D:/Dataset/Rsipac/train_256/train_val_list_new.csv', header=0, index=0)

In [10]:
meta_csv['rank'] = meta_csv.groupby('phase')['ssim'].rank(method='min', ascending=False)
# meta_csv.to_csv('D:/Dataset/Rsipac/train_256/train_val.csv', header=0, index=0)

In [12]:
import pandas as pd

meta_info = r'D:\Dataset\Rsipac\train\train_val_list.csv'
meta_csv = pd.read_csv(meta_info, names=['phase', 'SAR', 'opt_clear', 'opt_cloudy','img_name'])
meta_csv['id'] = meta_csv['img_name'].apply(lambda x:int(x.split('_')[1]))
meta_csv.id.value_counts()

2     1132
8      627
12     624
3      484
14     477
9      472
4      450
1      429
7      262
5      249
10     117
11      51
6       47
Name: id, dtype: int64

In [14]:
meta_csv.to_csv('D:/Dataset/Rsipac/train/train_val_list_new.csv', header=0, index=0)

In [3]:
import torch

ckpt = torch.load(r"C:\Users\25726\Desktop\checkpoint_best.pth")
ckpt.keys()

dict_keys(['epoch', 'model', 'optimizer', 'lr_scheduler', 'metrics'])

In [8]:
torch.save(ckpt['model'], r"C:\Users\25726\Desktop\checkpoint_2.pth")

In [6]:
ckpt['lr_scheduler']

{'T_max': 150,
 'eta_min': 1e-07,
 'base_lrs': [0.0001],
 'last_epoch': 77,
 '_step_count': 78,
 'verbose': False,
 '_get_lr_called_within_step': False,
 '_last_lr': [4.795831109622649e-05]}

In [1]:
import yaml

with open('./config/basic_config.yml', mode='r', encoding='utf-8') as file:
    cfg = yaml.load(file, Loader=yaml.FullLoader)

FileNotFoundError: [Errno 2] No such file or directory: './config/basic_config.yml'

In [8]:
ds_train_cfg = cfg['datasets']['train']
img_list = []
with open(ds_train_cfg['meta_info'], mode='r', encoding='utf-8') as buffer:
    for line in buffer:
        img_list.append(line.strip())

print(type(img_list), len(img_list))

<class 'list'> 17500

In [9]:
for dataset in cfg['datasets']:
    print(cfg['datasets'][dataset])

{'name': 'DogsAndCats', 'phase': 'train', 'root': '/data/sgd-2022/datasets/DogsAndCats', 'meta_info': '/data/sgd-2022/datasets/DogsAndCats/train_list.txt', 'io_backend': {'type': 'disk'}, 'random_crop': True, 'base_size': 150, 'crop_size': 128, 'batch_size': 64, 'use_shuffle': True, 'use_drop_last': True}
{'name': 'DogsAndCats', 'phase': 'val', 'root': '/data/sgd-2022/datasets/DogsAndCats', 'meta_info': '/data/sgd-2022/datasets/DogsAndCats/valid_list.txt', 'io_backend': {'type': 'disk'}, 'fig_size': 128, 'batch_size': 64}

In [10]:
cfg['network']

{'fig_size': 128}

In [1]:
a = None

In [2]:
a.watch

AttributeError: 'NoneType' object has no attribute 'watch'